In [21]:
import pandas as pd
import numpy as np

# X = df1[['bedrooms', 'Area ', 'Place', 'bathroom']]
# y = df1['Prices']

df=pd.read_csv('condoPr.csv')
df.dropna()

     bedrooms  Area      Prices  bathroom     Place
0         1.0   30.0  2290000.0       1.0     faham
1         1.0   30.0  1449000.0       1.0  changpuk
2         1.0   30.0   630000.0       1.0    tasara
3         1.0   30.0  2200000.0       1.0     faham
4         1.0   30.0   650000.0       1.0    tasara
..        ...    ...        ...       ...       ...
196       3.0   46.0  6250000.0       3.0     patan
197       3.0   46.0  5250000.0       3.0    suthep
198       3.0   47.0  5200000.0       3.0     patan
199       3.0   47.0  6250000.0       3.0    nimman
200       3.0   47.0  5950000.0       3.0    nimman

[201 rows x 5 columns]

In [22]:
df.isnull().sum()

bedrooms    2
Area        2
Prices      2
bathroom    2
Place       2
dtype: int64

In [23]:
df1 = df.dropna()
df1.isnull().sum()

bedrooms    0
Area        0
Prices      0
bathroom    0
Place       0
dtype: int64

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 201 entries, 0 to 200
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bedrooms  201 non-null    float64
 1   Area      201 non-null    float64
 2   Prices    201 non-null    float64
 3   bathroom  201 non-null    float64
 4   Place     201 non-null    object
dtypes: float64(4), object(1)
memory usage: 9.4+ KB

In [25]:
df1['Place'].describe()
df1['Place'].unique()

array(['faham', 'changpuk', 'tasara', 'tasara ', 'suthep', 'nimman',
       'robinsun', 'patan', 'mahidol'], dtype=object)

In [26]:
df1['Place'] = df1.Place.map({'faham':1, 'changpuk':2, 'tasara':3, 'tasara ':4, 'suthep':5, 'nimman':6,'robinsun':7, 'patan':8, 'mahidol':9})

/var/folders/jb/w0vzpx0n7dl8hp7tscft8hhw0000gn/T/ipykernel_2136/3979589719.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Place'] = df1.Place.map({'faham':1, 'changpuk':2, 'tasara':3, 'tasara ':4, 'suthep':5, 'nimman':6,'robinsun':7, 'patan':8, 'mahidol':9})

In [27]:
df1

     bedrooms  Area      Prices  bathroom  Place
0         1.0   30.0  2290000.0       1.0      1
1         1.0   30.0  1449000.0       1.0      2
2         1.0   30.0   630000.0       1.0      3
3         1.0   30.0  2200000.0       1.0      1
4         1.0   30.0   650000.0       1.0      3
..        ...    ...        ...       ...    ...
196       3.0   46.0  6250000.0       3.0      8
197       3.0   46.0  5250000.0       3.0      5
198       3.0   47.0  5200000.0       3.0      8
199       3.0   47.0  6250000.0       3.0      6
200       3.0   47.0  5950000.0       3.0      6

[201 rows x 5 columns]

### *Liner Regression*

In [28]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import PolynomialFeatures

from sklearn.model_selection import train_test_split

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression

from sklearn.pipeline import Pipeline

X = df1['bathroom'].values.reshape(-1,1)
y = df1['Prices'].values.reshape(-1,1)

for i in range(1,20):

  X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3, shuffle=True)

  steps = [("imp_mean", SimpleImputer()),
          ("scaler" , StandardScaler()),
          ("tranform" , PolynomialFeatures(degree = i)),
          ("liReg" , LinearRegression())]

  pipeline = Pipeline(steps)
  
  pipeline.fit(X_train,y_train)
  rscore = pipeline.score(X_test, y_test)

  rscore2 = pipeline.score(X_train, y_train)
  y_pred = pipeline.predict(X_test)

  print(i, "test: ", rscore, "train: ", rscore2)

1 test:  0.5328425068488438 train:  0.4304521788665532
2 test:  0.5236057601073512 train:  0.44882243496024576
3 test:  0.43512423903782216 train:  0.5066461953357877
4 test:  0.4026774374078069 train:  0.5086876411598702
5 test:  0.43716254952793565 train:  0.49977197677767726
6 test:  0.5096249849199808 train:  0.46418300620888886
7 test:  0.47055710050329913 train:  0.4844038453272165
8 test:  0.534114897346631 train:  0.4622061007750604
9 test:  0.531209423650435 train:  0.46162825440528943
10 test:  0.4635754192114343 train:  0.48395066817951815
11 test:  0.5347891105184297 train:  0.4565164598276752
12 test:  0.4786275906788495 train:  0.47849045212726005
13 test:  0.5923131179923387 train:  0.4272464236611442
14 test:  0.5214502988249547 train:  0.45724811075331406
15 test:  0.4792260693554754 train:  0.47976041918502466
16 test:  0.453210051435067 train:  0.4902750071938865
17 test:  0.5104471915497555 train:  0.45588893644331085
18 test:  0.5196490366875373 train:  0.4640659049687774
19 test:  0.5985360936687171 train:  0.4366464914827698

In [29]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

lr = LinearRegression()
lr.fit(X_scaled, y)

Y_pred = lr.predict(X_scaled)
rscore = r2_score(y, Y_pred)
mse = mean_squared_error(y, Y_pred)
mae = mean_absolute_error(y, Y_pred)

print('r2-score:', rscore.round(3), '\nmean squared error:', mse.round(3), '\nmean absolute error:', mae.round(3))

r2-score: 0.462
mean squared error: 727352842916.945
mean absolute error: 680909.366

In [30]:
# import matplotlib.pyplot as plt
# import seaborn as sns

# sns.scatterplot(data = df1, x = 'bathroom', y = 'Prices')
# x_model = np.linspace(df1['bathroom'].min(), df1['bathroom'].max(), 50)
# y_model = model.predict(scaler.fit_transform(x_model.reshape(-1,1)))
# plt.plot(x_model,  y_model, color = 'k')
# plt.legend(['training data', 'predicted model'])
# plt.show()

### *Polynomial Regression*

In [31]:
from sklearn.preprocessing import PolynomialFeatures

#Feature scaling
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X.reshape(-1,1))

# Poly transformation 
order = 7
poly = PolynomialFeatures(degree=order, include_bias=False)
poly_features = poly.fit_transform(X_scaled.reshape(-1, 1))

# Modeling. 
lr = LinearRegression()
model = lr.fit(poly_features, y)
print(model.coef_, model.intercept_)

#Prediction
Y_pred = model.predict(poly_features)
rscore = model.score(poly_features, y)
mse = mean_squared_error(y, Y_pred)
mae = mean_absolute_error(y, Y_pred)

print('r2-score:', rscore.round(3), '\nmean squared error:', mse.round(3), '\nmean absolute error:', mae.round(3))

[[-4.72733910e+18 -2.28748387e+19 -3.60894109e+17  8.77953146e+18
  -2.82300268e+18  4.78712366e+18  9.85560418e+17]] [1.04334074e+18]
r2-score: 0.484
mean squared error: 697942480684.348
mean absolute error: 657818.06

In [32]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.scatterplot(data = df1, x = 'bathroom', y = 'Prices')
x_model = np.linspace(df1['bathroom'].min(), df1['bathroom'].max(), 50)
x_model_scaled = scaler.fit_transform(x_model.reshape(-1,1))

x_model_poly  = poly.fit_transform(x_model_scaled)
y_model = model.predict(x_model_poly)

plt.plot(x_model,  y_model, color = 'r')
plt.legend(['training data', 'predicted model with degree ' + str(order)])
plt.show()

ModuleNotFoundError: No module named 'matplotlib'