In [12]:
import pandas as pd

df=pd.read_csv('../ml pro/condoPr.csv', index_col = 0)
df = df.dropna()

df

     sqft_living    price  bathrooms  location  bedrooms
0             28  2290000          1     faham         1
1             28  1449000          1  changpuk         1
2             28   630000          0    tasara         0
3             28  2200000          0     faham         0
4             29   650000          0    tasara         0
..           ...      ...        ...       ...       ...
196           45  6250000          2     patan         1
197           45  5250000          1    suthep         1
198           45  5200000          1     patan         1
199           45  6250000          2    nimman         1
200           45  5950000          2    nimman         1

[201 rows x 5 columns]

In [13]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [14]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_scaled, Y)
print(lr.coef_, lr.intercept_)

X_test = [[2, 860]]
X_test_scaled = scaler.transform(X_test)
yp=lr.predict(X_test_scaled)
print(yp)

[753781.94747608] 2649436.094527363

/Users/nebula/Desktop/Supervised-Machine-Learning/.venv/lib/python3.9/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

ValueError: X has 2 features, but StandardScaler is expecting 1 features as input.

In [ ]:
# df[(df['bedrooms'] == 2) & (df['bedrooms'] != 3)]

# df[(df['bedrooms'] == 2)]

df1=df[(df['bedrooms'] == 2) & (df['sqft_living'] == 860)]
df1_avg = df1['price'].mean()
print("Average price:", df1_avg)
   
# df[df['sqft_living'] ==860]

In [ ]:
df1.describe()

In [ ]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

Y_pred = lr.predict(X_scaled)
rscore = r2_score(Y, Y_pred)
mse = mean_squared_error(Y, Y_pred)
mae = mean_absolute_error(Y, Y_pred)

print('r2-score:', rscore, '\nmean squared error:', mse, '\nmean absolute error:', mae)